name: Levels CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install
        working-directory: scratch/shared
        run: npm install
      - name: Build
        working-directory: scratch/shared
        run: npm run build
      - name: Test
        working-directory: scratch/shared
        run: npm test
